<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
		<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
		<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
		<script crossorigin src="https://code.jquery.com/jquery-latest.min.js"></script>
		<script src="jscolor.js"></script>

		<script src="StateManager.js" type="module"></script>
		<script src="main.js" type="module"></script>
		<link rel="stylesheet" href="css/main.css"></script>
	</head>
	<body>
		<canvas id="c"></canvas>
		<div id = "root"></div>
		<div id = "pointer"></div>
	</body>
	<script src="buttonUI.js" type="module"></script>
</html>
